<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Forms</title>

    <!-- Fontfaces CSS-->
    <link href="/static/css/font-face.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <header class="header-mobile d-block d-lg-none">
                <div class="header-mobile__bar">
                    <div class="container-fluid">
                        <div class="header-mobile-inner">
                            <a class="logo" href="index.html">
                                <img src="/static/images/icon/logo.png" alt="CoolAdmin" />
                            </a>
                            <button class="hamburger hamburger--slider" type="button">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </button>
                        </div>
                    </div>
                </div>
                <nav class="navbar-mobile">
                    <div class="container-fluid">
                        <ul class="navbar-mobile__list list-unstyled">
                            <li class="has-sub">
                                <a class="js-arrow" href="/index-klub/">
                                    <i class="fas fa-tachometer-alt"></i>Domov</a>
                            </li>
                            <li class="has-sub">
                                    <a class="js-arrow" href="#">
                                        <i class="fas fa-desktop"></i>Prestopi</a>
                                    <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                        <li>
                                            <a href="/form-klub/">Nakupuj igralce</a>
                                        </li>
                                        <li class = "has-sub">
                                            <a class = "js-arrow" href="/ponudbe-zame/"><p>Ponudbe zame</p></a>
                                        </li>
                                    </ul>
                                </li>
                        </ul>
                    </div>
                </nav>
            </header>
            <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                    <img src="/static/images/icon/logo2.png" alt="Cool Admin" style="width:100px;padding:10px"/>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="/index-klub/">
                                <i class="far fa-id-card"></i>Moja izkaznica</a>
                        </li>
                    </ul>
                    <ul class="list-unstyled navbar__list">
                        <li class="has-sub">
                            <a class="js-arrow" href="#">
                                <i class="fas fa-balance-scale"></i>Prestopi</a>
                            <ul class="navbar-mobile-sub__list list-unstyled js-sub-list">
                                <li>
                                    <a href="/form-klub/">Nakupuj igralce</a>
                                </li>
                                <li>
                                    <a href="/ponudbe-zame/">Ponudbe za moje igralce</a>
                                </li>
                            </ul>
                        </li>      
                    </ul>
                </nav>
            </div>
        </aside>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
<!-- HEADER DESKTOP-->
<header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                        <h3>
                                <i class="zmdi zmdi-account-calendar" style="margin-right:10px"></i><span id="datetime"></span></h3>
                    <div class="header-button">
                        <div class="noti-wrap">
                            <div class="noti__item js-item-menu">
                                <i class="zmdi zmdi-notifications"></i>
                                <span class="quantity">{{stevilo_sporocil}}</span>
                                <div class="notifi-dropdown js-dropdown">
                                    <div class="notifi__title">
                                        <p>Imaš {{stevilo_sporocil}} novih ponudb</p>
                                    </div>
                                    <div class="notifi__footer">
                                        <a href="/ponudbe-zame/">Vse ponudbe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="account-wrap">
                            <div class="account-item clearfix js-item-menu">
                                <div class="image">
                                    <img src="/static/images/icon/circle-512.png" alt="John Doe" style="width:50px"/>
                                </div>
                                <div class="content">
                                    <a class="js-acc-btn" href="#">FC {{ime}}</a>
                                </div>
                                <div class="account-dropdown js-dropdown">
                                    <div class="info clearfix">
                                        <div class="image">
                                            <a href="/index-klub/">
                                                <img src="/static/images/icon/circle-512.png" alt="John Doe" style="width:50px"/>
                                            </a>
                                        </div>
                                        <div class="content">
                                            <h5 class="name">
                                                <a href="/index-klub/">{{ime}}</a>
                                            </h5>
                                            <span class="email">{{username}}</span>
                                        </div>
                                    </div>
                            
                                    <div class="account-dropdown__footer">
                                        <a href="/logout/">
                                            <i class="zmdi zmdi-power"></i>Odjavi se</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- HEADER DESKTOP-->

           <!-- MAIN CONTENT-->
           <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="au-card au-card--no-shadow au-card--no-pad m-b-40">
                                <div class="au-card-title" style="background-image:url('images/bg-title-01.jpg');">
                                    <div class="bg-overlay bg-overlay--blue"></div>
                                    <h3>
                                        <i class="zmdi zmdi-account-calendar"></i><p><span id="datetime"></span></p></h3>
                                    <button class="au-btn-plus">
                                        <a href = "/form-klub/" class="zmdi zmdi-plus"></a>
                                    </button>
                                </div>
                                <div class="au-task js-list-load">
                                    <div class="au-task__title">
                                        <p>Ponujeni igralci</p>
                                    </div>
                                    <div class="au-task-list js-scrollbar3" style="height:auto">
                                    %for i in range(len(v_ponudbe)):
                                    %if (v_ponudbe[i][11]):
                                            <div class="au-task__item au-task__item--danger">
                                            <div class="au-task__item-inner">
                                                <h5 class="task">
                                                     <a href="#">Igralec: {{nogometasi[i][0]}} {{nogometasi[i][1]}}
                                                         <div> Državljanstvo: {{nogometasi[i][2]}}</div>
                                                         <div>Datum rojstva: {{nogometasi[i][3]}}</div>
                                                         <div>Vrednost: {{nogometasi[i][4]}}</div>
                                                         <div>Zahtevana plača: {{v_ponudbe[i][2]}}</div>
                                                         <div>Znesek prestopa: {{v_ponudbe[i][1]}}</div>
                                                        </a>
                                                </h5>
                                                <div>
                                                    <form action="#" method="post">
                                                        Vaša odločitev:
                                                        <button class="btn btn-success" name= "select", type="submit" value= s{{v_ponudbe[i][0]}}>Sprejmi</button>
                                                        <button class="btn btn-warning" name= "select", type="submit" value=p{{v_ponudbe[i][0]}}>Pogajaj se</button>
                                                        <button class="btn btn-danger" name= "select", type="submit" value=z{{v_ponudbe[i][0]}}>Zavrni</button>
                                                    </form>
                                                </div>
                                                <span class="time">{{v_ponudbe[i][3]}}</span>
                                            </div>
                                        </div>
                                    %else:
                                        <div class="au-task__item au-task__item--danger">
                                                <div class="au-task__item-inner">
                                                    <h5 class="task">
                                                        <a href="#">Igralec: {{nogometasi[i][0]}} {{nogometasi[i][1]}}
                                                                <div> Državljanstvo: {{nogometasi[i][2]}}</div>
                                                                <div>Datum rojstva: {{nogometasi[i][3]}}</div>
                                                                <div>Vrednost: {{nogometasi[i][4]}}</div>
                                                                <div>Zahtevana plača: {{v_ponudbe[i][2]}}</div>
                                                                <div>Znesek prestopa: {{v_ponudbe[i][1]}}</div>
                                                            </a>
                                                    </h5>
                                                    <div>
                                                        <form action="#" method="post">
                                                            Vaša odločitev:
                                                            <button class="btn btn-success" name= "select", type="submit" value=s{{v_ponudbe[i][0]}}>Sprejmi</button>
                                                            <button class="btn btn-warning" name= "select", type="submit" value=p{{v_ponudbe[i][0]}} disabled>Pogajaj se</button>
                                                            <button class="btn btn-danger" name= "select", type="submit" value=z{{v_ponudbe[i][0]}}>Zavrni</button>
                                                        </form>
                                                    </div>
                                                    <span class="time">{{v_ponudbe[i][3]}}</span>
                                                </div>
                                            </div>
                                    %end
                                    %end
                                </div>
                            </div>
                        </div>
                        
                        
            </div>
        </div>
    </div>
    <!-- END PAGE CONTAINER-->

    <!-- Jquery JS-->
    <script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/static/vendor/slick/slick.min.js">
    </script>
    <script src="/static/vendor/wow/wow.min.js"></script>
    <script src="/static/vendor/animsition/animsition.min.js"></script>
    <script src="/static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="/static/js/main.js"></script>

    <script>
        var dt = new Date();
        datum = (("0"+dt.getDate()).slice(-2)) +"."+ (("0"+(dt.getMonth()+1)).slice(-2)) +"."+ (dt.getFullYear()) +" "+ (("0"+dt.getHours()).slice(-2)) +":"+ (("0"+dt.getMinutes()).slice(-2));
        $( "#datetime" ).html(datum);
    </script>

</body>

</html>
<!-- end document-->
