<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Register</title>

    <!-- Fontfaces CSS-->
    <link href="/static/css/font-face.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="/static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="/static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="/static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="/static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="/static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="/static/css/theme.css" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper" style="overflow: scroll">
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap" style="padding-top:1%">
                    <div class="login-content" style="padding-top:10px">
                
                        <div class="login-form">
                            <form action="" method="post">
                                    <div id="wrapper_moznosti" class="col-12 col-md-9" style="padding-left:0px;padding-right:0px;margin-top:10px;margin-bottom:20px">
                                        <div id="izberi_ponovno" style="padding-bottom:10px;color:#63c76a;display:none;font-size:12px;cursor:pointer">Želiš izbrati vlogo ponovno? Klikni tukaj!</div>
                                            <div style="margin-bottom: 10px;font-size:15px">
                                                Izberi svojo vlogo
                                                <i id="izbrano" class="fas fa-check" style="display: none;color:greenyellow;margin-left:1.5em"></i>
                                                
                                            </div>
                                            <select name="vloga" id="select" class="form-control" style="width:100%">
                                                <option value="0">Izberi možnost</option>
                                                <option value="1">Agent</option>
                                                <option value="2">Igralec</option>
                                                <option value="3">Klub</option>
                                            </select>
                                        </div>
                                        
                            <div style="display:none" class="podatki">
                                <div id="igralec">
                                        <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Uporabniško ime</label>
                                                <input class="au-input au-input--full" type="text" name="username" placeholder="Uporabniško ime">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Email naslov</label>
                                                <input class="au-input au-input--full" type="email" name="email" placeholder="Email naslov">
                                            </div>
                                            <div class="form-group" style="width:45%;float:left;margin-right:2.5%">
                                                <label style="margin-bottom:2px;font-size:15px;">Ime</label>
                                                <input class="au-input au-input--full" type="text" name="ime" placeholder="Ime">
                                            </div>
                                            <div class="form-group" style="width:50%;float:right">
                                                <label style="margin-bottom:2px;font-size:15px">Priimek</label>
                                                <input class="au-input au-input--full" type="text" name="priimek" placeholder="Priimek">
                                            </div>
                                            <div class="form-group">
                                                    <label style="margin-bottom:2px;font-size:15px">Starost</label>
                                                    <input class="au-input au-input--full" type="number" name="age" placeholder="Starost">
                                                </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Geslo</label>
                                                <input class="au-input au-input--full" type="password" name="password" placeholder="Geslo">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Ponovi geslo</label>
                                                <input class="au-input au-input--full" type="password" name="password2" placeholder="Potrdi svoje geslo">
                                            </div>
                                </div>
                                <div id="klub">
                                        <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Uporabniško ime</label>
                                                <input class="au-input au-input--full" type="text" name="username" placeholder="Uporabniško ime">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Email naslov</label>
                                                <input class="au-input au-input--full" type="email" name="email" placeholder="Email naslov">
                                            </div>
                                            <div class="form-group" >
                                                <label style="margin-bottom:2px;font-size:15px;">Ime</label>
                                                <input class="au-input au-input--full" type="text" name="ime" placeholder="Ime">
                                            </div>
                                            <div class="form-group">
                                                    <label style="margin-bottom:2px;font-size:15px">Naslov</label>
                                                    <input class="au-input au-input--full" type="text" name="naslov" placeholder="Naslov">
                                                </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Geslo</label>
                                                <input class="au-input au-input--full" type="password" name="password" placeholder="Geslo">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Ponovi geslo</label>
                                                <input class="au-input au-input--full" type="password" name="password2" placeholder="Potrdi svoje geslo">
                                            </div>
                                </div>
                                <div id="agent">
                                        <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Uporabniško ime</label>
                                                <input class="au-input au-input--full" type="text" name="username" placeholder="Uporabniško ime">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Email naslov</label>
                                                <input class="au-input au-input--full" type="email" name="email" placeholder="Email naslov">
                                            </div>
                                            <div class="form-group" style="width:45%;float:left;margin-right:2.5%">
                                                <label style="margin-bottom:2px;font-size:15px;">Ime</label>
                                                <input class="au-input au-input--full" type="text" name="ime" placeholder="Ime">
                                            </div>
                                            <div class="form-group" style="width:50%;float:right">
                                                <label style="margin-bottom:2px;font-size:15px">Priimek</label>
                                                <input class="au-input au-input--full" type="text" name="priimek" placeholder="Priimek">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Geslo</label>
                                                <input class="au-input au-input--full" type="password" name="password" placeholder="Geslo">
                                            </div>
                                            <div class="form-group">
                                                <label style="margin-bottom:2px;font-size:15px">Ponovi geslo</label>
                                                <input class="au-input au-input--full" type="password" name="password2" placeholder="Potrdi svoje geslo">
                                            </div>
                                </div>
                                
                            </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Registriraj se</button>
                            </form>
                            <div class="register-link">
                                <p>
                                    Že imaš račun?
                                    <a href="/login/">Prijavi se tukaj</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Jquery JS-->
    <script src="/static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/static/vendor/slick/slick.min.js">
    </script>
    <script src="/static/vendor/wow/wow.min.js"></script>
    <script src="/static/vendor/animsition/animsition.min.js"></script>
    <script src="/static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="/static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="/static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/static/vendor/select2/select2.min.js">
    </script>
    <script>$(function(){
        $('#select').change(function(){
         if($(this).val() == '1'){ 
            $('.podatki').css('display','block');
            $('#select').css('display','none');
            $('#agent').css('display','block');
            $('#igralec').css('display','none');
            $('#klub').css('display','none');
            $('#izbrano').css('display', 'inline');
            $('#izberi_ponovno').css('display', 'block');
            $('#wrapper_moznosti').css('margin-bottom','0px')
          }
          else if($(this).val() == '2'){ 
            $('.podatki').css('display','block');
            $('#select').css('display','none');
            $('#agent').css('display','none');
            $('#igralec').css('display','block');
            $('#klub').css('display','none');
            $('#izbrano').css('display', 'inline');
            $('#izberi_ponovno').css('display', 'block');
            $('#wrapper_moznosti').css('margin-bottom','0px')
          }
          else if($(this).val() == '3'){
            $('.podatki').css('display','block'); 
            $('#select').css('display','none');
            $('#agent').css('display','none');
            $('#igralec').css('display','none');
            $('#klub').css('display','block');
            $('#izbrano').css('display', 'inline');
            $('#izberi_ponovno').css('display', 'block');
            $('#wrapper_moznosti').css('margin-bottom','0px')
          }
        });
    $('#izberi_ponovno').click(function(){
        $('#select').css('display','block');
        $('#izbrano').css('display', 'none');
        $('#izberi_ponovno').css('display', 'none');
        $('#wrapper_moznosti').css('margin-bottom','15px')
    })
    });</script>
    <!-- Main JS-->
    <script src="/static/js/main.js"></script>

</body>

</html>
<!-- end document-->